In [1]:
# import os
# os.system("pip install --upgrade pip")
# os.system("python3.8 -m pip install --upgrade pip")
# os.system("pip install --extra-index-url=https://pypi.celonis.cloud/ pycelonis --upgrade")
# os.system("pip install pycelonis")

In [2]:
from pycelonis import *
from pycelonis.pql import *

In [3]:
url = "https://academic-if21b054-technikum-wien-at.eu-2.celonis.cloud/"

file = open('APP_KEY.txt')
api_token = file.read()
file.close()

key_type = "APP_KEY"
celonis = get_celonis(base_url=url, api_token=api_token, key_type=key_type, permissions=False)

[2023-04-27 08:36:40,986] INFO: Initial connect successful! PyCelonis Version: 2.0.3

In [4]:
data_pool_name = "datapool-filtered-final-version"
data_model_name = "datamodel-filtered-final-version"
activity_table_name = "activities"
rating_table_name = "rating"

In [5]:
data_pool = celonis.data_integration.get_data_pools().find(data_pool_name)
data_model = data_pool.get_data_models().find(data_model_name)
activity_table = data_model.get_tables().find(activity_table_name)
rating_table = data_model.get_tables().find(rating_table_name)

In [6]:
query = PQL(distinct=False, limit=None, offset=None)
query += PQLColumn(name="Zeit", query=""" "ACTIVITIES"."zeit" """)
query += PQLColumn(name="Vollständiger Name", query=""" "ACTIVITIES"."Vollständiger Name" """)
query += PQLColumn(name="Ereigniskontext - Ereignisname", query=""" "ACTIVITIES"."Ereigniskontext - Ereignisname" """)

result_df = data_model.export_data_frame(query)
# result_df

[2023-04-27 08:36:41,824] INFO: Successfully created data export with id 'c9bee4cb-29ab-4568-ba30-b1c38d72e11d'
[2023-04-27 08:36:41,825] INFO: Wait for execution of data export with id 'c9bee4cb-29ab-4568-ba30-b1c38d72e11d'

0it [00:00, ?it/s]

[2023-04-27 08:36:41,927] INFO: Export result chunks for data export with id 'c9bee4cb-29ab-4568-ba30-b1c38d72e11d'

In [7]:
query = PQL(distinct=False, limit=None, offset=None)
query += PQLColumn(name="Nr", query=""" "RATING"."Nr" """)
query += PQLColumn(name="Test: Quiz 1 (Punkte)", query=""" "RATING"."Test: Quiz 1 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 2 (Punkte)", query=""" "RATING"."Test: Quiz 2 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 3 (Punkte)", query=""" "RATING"."Test: Quiz 3 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 4 (Punkte)", query=""" "RATING"."Test: Quiz 4 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 5 (Punkte)", query=""" "RATING"."Test: Quiz 5 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 6 (Punkte)", query=""" "RATING"."Test: Quiz 6 (Punkte)" """)
query += PQLColumn(name="Test: Quiz 7 (Punkte)", query=""" "RATING"."Test: Quiz 7 (Punkte)" """)
query += PQLColumn(name="Quiz gesamt (Punkte)", query=""" "RATING"."Quiz gesamt (Punkte)" """)
query += PQLColumn(name="Test: Exam Attempt 1 (Punkte)", query=""" "RATING"."Test: Exam Attempt 1 (Punkte)" """)
query += PQLColumn(name="Kurs gesamt (Punkte)", query=""" "RATING"."Kurs gesamt (Punkte)" """)
query += PQLColumn(name="Name", query=""" "RATING"."Name" """)

result_df = data_model.export_data_frame(query)
# result_df

[2023-04-27 08:36:42,233] INFO: Successfully created data export with id '1744c32f-6dc1-43e9-9041-934fcbcc1b85'
[2023-04-27 08:36:42,234] INFO: Wait for execution of data export with id '1744c32f-6dc1-43e9-9041-934fcbcc1b85'

0it [00:00, ?it/s]

[2023-04-27 08:36:42,325] INFO: Export result chunks for data export with id '1744c32f-6dc1-43e9-9041-934fcbcc1b85'

In [8]:
data_pool.get_tables()

[
	DataPoolTable(name='ML_result', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='ML_results', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='ML_results4', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='ML_results5', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='ML_results_0', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='activities', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='rating', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='test_felix', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='test_felix2', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9'),
	DataPoolTable(name='test_table', data_source_id=None, columns=[], schema_name='5656d8b6-63fd-41f0-9e10-6183b71028c9', data_pool_id='5656d8b6-63fd-41f0-9e10-6183b71028c9')
]

In [9]:
data_pool.create_table(df=result_df, table_name="ML_results", drop_if_exists=True)

PyCelonisValueError: Replacing table 'ML_results' without specifying column_config resets table schema to default. Especially STRING columns are affected where the default data type is VARCHAR(80) which causes longer strings to be cut at 80 characters. Either specify column_config or set `force=True`.

In [ ]:
data_model.add_table(name="ML_results", alias="ML_results2")

In [ ]:
data_pool.get_tables()

In [ ]:
data_model.get_tables()

In [ ]:
# delete_table_id = "6d7bf66c-3fb3-49e2-8b10-a5075eded086"
# delete_table = data_model.get_table(delete_table_id)
# delete_table.delete()

In [ ]:
ML_result_id = '4d49ced9-abed-4dc1-b063-67c0dc935307'
data_model.get_table(ML_result_id)
# data_pool.create_table(df=result_df, table_name="ML_results", drop_if_exists=True)